.header{
    background-color: $color-grey-dark-1;
    grid-column: full-start/col-end 6;
    background-image: linear-gradient(rgba($color-secondary, .9), rgba($color-secondary, .9)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, mincontent) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;

    @media only screen and (max-width: $bp-medium){
        grid-column: 1/-1;
    }
    
    @media only screen and (max-width: $bp-small){
        padding: 5rem;
    }

    &__logo{
        justify-self: center;
        height: 5.5rem;
    }

    &__btn{
        align-self:start;
        justify-self: start;
    }

    &__seenon-text{
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        justify-items: center;
        grid-column-gap: 1.5rem;
        font-size: 1.6rem;
        color: $color-grey-light-1; 
        
        &::before,
        &::after{
            content: '';
            display: block;
            height: 1px;
            width: 20vw;
            background-color: #fff;
        }

    }

    &__seenon-logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;
        filter: brightness(70%);

        img{
            max-height: 2.5rem;
            max-width: 100%;//must set width or the img won't scale properly
        }
    }
}